@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

body {
  background-color: #fafafa;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "baloo 2", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

#titulocapa {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 32px;
  padding-inline: 160px;
}

#carrinho {
  background-color: #f1e9c9;
  padding: 8px;
  border-radius: 6px;
  display: flex;
}

#cantodireita {
  display: flex;
  gap: 12px;
}

#linkcidade {
  display: flex;
  align-items: center;
  background-color: #ebe5f9;
  color: #4b2995;
  border-radius: 6px;
  text-decoration: none;
  padding: 8px;
}

main {
  padding-inline: 160px;
}

.capa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 94px;
  gap: 5%;
}

#textcapa {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-top: 16px;
}

#imgcapa {
  width: 40%;
}

#capaesquerda {
  width: 55%;
}

#carrinhocapa {
  padding: 8px;
  border-radius: 1000px;
  background-color: #c47f17;
}

#textoicons {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

#lineitens {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 12px;
  padding: 14px 0px;
}

#caixacapa {
  padding: 8px;
  border-radius: 1000px;
  background-color: #574f4d;
}

#lineitens2 {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  gap: 20px;
}

#relogiocapa {
  padding: 8px;
  border-radius: 1000px;
  background-color: #dbac2c;
}

#cafecapa {
  padding: 8px;
  border-radius: 1000px;
  background-color: #8047f8;
}

#icons {
  padding-top: 74px;
  justify-content: space-between;
  align-items: center;
}

#nossoscafes {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 41.6px */
}

.catalogo {
}

#linhacatalogo {
  display: flex;
  gap: 32px;
}

#itemcatalogo {
  width: 256px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 6px 36px;
  background: var(--base-card, #f3f2f2);
  margin-top: 20px;
  position: relative;
}

#itemcatalogo > img {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0px);
}

#nomecafe {
  text-align: center;
  /* Title/Title S */
  font-family: Baloo 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
}

#tipocafediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tipocafe {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 13px */
  color: #c47f17;
  padding: 4px 8px;
  border-radius: 100px;
  background-color: #f1e9c9;
  margin-top: 116px;
  margin-bottom: 20px;
  margin-inline: 8px;
  width: 65px;
  text-align: center;
}

#desccafe {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #8d8686;
  text-align: center;
  width: 216px;
  margin-inline: auto;
  margin-top: 8px;
}

#partebaixaitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 24px;
  margin-top: 30px;
}

#valor {
  display: flex;
  justify-content: space-between;
  width: 67px;
  align-items: flex-end;
  gap: 4px;
}

#rsvalor {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #574f4d;
  line-height: 21px;
}

#numerovalor {
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  color: #574f4d;
  line-height: 24px;
}

#quantidade {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  background: var(--base-button, #E6E5E5);
}

#quantidadenumero {
  color: #272221;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

#carrinhocatalogo {
  background-color: #4B2995;
  padding: 8px;
  border-radius: 6px;
  display: flex;
}

#valordireita {
  display: flex;
  gap: 8px;
}